<div class="home-container">
  
  <div class="header-section">
    <h1>Bem-vindo ao HelpDesk</h1>
    <p>Gerencie seus técnicos e clientes de forma simples.</p>
  </div>

  <div class="dashboard-cards">

    <mat-card class="info-card">
      <div class="card-icon">
        <mat-icon>security</mat-icon> </div>
      <div class="card-content">
        <h3>Segurança</h3>
        <h2>JWT</h2>
        <p>Autenticação segura</p>
      </div>
    </mat-card>

    <mat-card class="info-card card-process" routerLink="/tecnicos" style="cursor: pointer;">
      <div class="card-icon">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="card-content">
        <h3>Gerenciar</h3>
        <h2>Técnicos</h2>
        <p>Clique para listar</p>
      </div>
    </mat-card>

    <mat-card class="info-card card-closed" routerLink="/clientes" style="cursor: pointer;">
      <div class="card-icon">
        <mat-icon>person</mat-icon>
      </div>
      <div class="card-content">
        <h3>Gerenciar</h3>
        <h2>Clientes</h2>
        <p>Clique para listar</p>
      </div>
    </mat-card>

  </div>

  <div class="home-illustration">
    <img src="assets/img/tecnico-create.svg" alt="Ilustração Helpdesk" onerror="this.style.display='none'">
  </div>

</div>