<div class="login-container">

  <form class="login-form">
    <div class="login-header">
     <img src="assets/img/logo.empresa.png" alt="Logo da Instituição">
      <h1>Help Desk - Estágio Supervisionado 2</h1>
      <p>Por: Rawenne</p> </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="seuemail@exemplo.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" placeholder="Sua senha">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary">LOGIN</button>
  </form>

</div>