@import 'ngx-toastr/toastr.css';

html, body {
  height: 100%;
  margin: 0;  
  padding: 0;  
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1a1625; /* Seu fundo geral escuro */
  color: #e0e0e0;
}