/* src/styles.css */
@import 'ngx-toastr/toastr.css';

/* Regra de Ouro: Padding e Borda não aumentam largura */
* {
  box-sizing: border-box;
}

/* Força a hierarquia inteira a ter o tamanho exato da tela */
html, body, app-root {
  margin: 0;
  padding: 0;
  width: 100%;  /* Usa 100% em vez de 100vw para descontar a barra de rolagem */
  height: 100%;
  overflow: hidden; /* Proíbe rolagem no corpo principal */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1a1625;
  color: #e0e0e0;
}