.container {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 2rem;
  background-color: #2b2040;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  box-sizing: border-box;
  height: auto;
}

.full-width { width: 100%; }

img { width: 100px; display: block; margin: 0 auto 2rem auto; }

h1 { text-align: center; color: #a855f7; margin-bottom: 20px; }

form { display: flex; flex-direction: column; }

.status-prioridade, .tecnico-cliente { display: flex; gap: 20px; }
.status-prioridade mat-form-field, .tecnico-cliente mat-form-field { flex: 1; }

textarea.area { min-height: 100px; resize: none; }

button { margin-bottom: 10px; padding: 10px; font-size: 1.1rem; }

.footer-text { text-align: center; margin-top: 20px; color: rgba(255, 255, 255, 0.3); font-size: 0.8rem; }

@media (max-width: 600px) {
  .container { padding: 1rem; }
  .status-prioridade, .tecnico-cliente { flex-direction: column; gap: 0; }
}